body {
  background-color: #343740;
}

h2 {
  color: #66d9c4;
}

h3 {
  color: #bf7973;
}

p {
  color: #d1d5db;
}

label {
  color: #d1d5db;
}

.button {
  background-color: #66d9c4;
  color: #343740;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  min-width: 160px;      /* Ensures consistent width */
  display: inline-block; /* Important for spacing */
}

.button a {
  color: #343740;
  text-decoration: none;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.contact-card {
  border-top: 2px solid #d1d5db05;
  padding-left: 1rem;
  padding-bottom: 6rem;
}

footer {
  justify-content: center;
  align-items: center;
  display: flex;
}