/*--------------------------This is for Hero styling-------------------------------------*/
.hero {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 6rem;
}






/*--------------------------This is for Section layout styling-------------------------------------*/
.project-section {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 6rem;
    border-top: 2px solid #d1d5db05;
}

.project-section img {
    border-radius: 0.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}


.project-card {
    padding-bottom: 4rem;
}

.card-content .tall-img {
    height: 500px;
    max-width: 100%;
    object-fit: contain;
    object-position: center;
    display: block;
    margin: 0 auto;
    background-color: #2d2f36; /* dark neutral to match your site */
    padding: 0.5rem;
}








/*-----------------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------This is for @media 768px (tablet and higher) styling-----------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 768px) {
    .card-content .tall-img {
        width: 50%;
    }
}








